<div class="container-fluid">
    <div class="row" >
        <!-- right col -->
        <div class="col-lg-8 col-md-8 col-sm-12 stick" style="border: 2px solid #ececec;">
          <div style="padding:1%;" style="background-color:white">
              <div class="table-responsive-sm">
                  <h4 class="bold-font"> <img src="https://koinex.in/market.png" alt="koinx_img" style="height:50px"> KOINEX MARKET</h4>
                   <hr> <br>

                  <table class="table text-center">
                    <thead>
                      <tr>
                        <th>ASSETS</th>
                        <th>LAST PRICE (INR)</th>
                        <th>LOWEST ASK (INR)</th>
                        <th>HIGHEST BID (INR)</th>
                        <th>CHANGE (24 H)</th>
                        <th>VOLUME (24 H)</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr class="text-left">
                        <td> <img src="https://koinex.in/bitcoin.png" alt="bit_coin" style="height:20px;"> BITCOIN</td>
                        <td>5,47,700.00</td>
                        <td>5,71,510.00</td>
                        <td>5,71,260.00</td>
                        <td style="color:red">-0.24%</td>
                        <td>57</td>                        
                        
                      </tr>
                      <tr class="text">
                          <td><img src="https://koinex.in/litecoin.png" alt="bit_coin" style="height:20px;"> LITECOIN</td>
                          <td>47,700.00</td>
                          <td>71,510.00</td>
                          <td>5,260.00</td>
                          <td style="color:green">5.254%</td>
                          <td>5754</td>    
                      </tr>
                      <tr class="text">
                          <td><img src="https://koinex.in/ripple.png" alt="bit_coin" style="height:20px;"> RIPPLE</td>
                          <td>17,500.00</td>
                          <td>5,510.00</td>
                          <td>260.00</td>
                          <td style="color:green">2.44%</td>
                          <td>575</td>    
                      </tr>
                      <tr class="text">
                          <td><img src="https://koinex.in/stellar.png" alt="bit_coin" style="height:20px;"> STELLER</td>
                          <td>49,700.00</td>
                          <td>51,510.00</td>
                          <td>57,71,260.00</td>
                          <td style="color:red">-0.36%</td>
                          <td>6462</td>    
                      </tr>
                      <tr class="text">
                          <td><img src="https://koinex.in/tron.png" alt="bit_coin" style="height:20px;"> TRON</td>
                          <td>5,47,700.00</td>
                          <td>75,510.00</td>
                          <td>9,5260.00</td>
                          <td style="color:green">0.74%</td>
                          <td>84557</td>    
                      </tr>
                    </tbody>
                  </table>
                </div>
          </div>
        </div>
      
        <!-- left col -->
        <div class="col-lg-4 col-md-4 col-sm-12 stick" style="border: 2px solid #ececec;">
            
                <!-- featured in block -->
                <div style="height:50%; background-color:#fffafa;">
                  <h4 class=" back-div bold-font">FEATURED IN</h4>
                </div>
                <!-- advertisement block -->
                <div style="height:auto; background-color:#fffafa;">
                    <h4 class=" back-div bold-font">ADVERTISEMENTS</h4>
                </div>

         </div>
      </div>
</div>




<footer class="footer-distributed">

    <div class="footer-left">

      <h3>BLOCK<span>MIRROR</span></h3>

      <p class="footer-links">
        <a href="#">Home</a>
        ·
        <a href="#">Blog</a>
        ·
        <a href="#">Pricing</a>
        ·
        <a href="#">About</a>
        ·
        <a href="#">Faq</a>
        ·
        <a href="#">Contact</a>
      </p>

      <p class="footer-company-name">Block Mirror &copy; 2018</p>
    </div>

    <div class="footer-center">

      <div>
        <i class="fa fa-map-marker"></i>
        <p><span>21 Revolution Street</span> Bangalore, India</p>
      </div>

      <div>
        <i class="fa fa-phone"></i>
        <p>+1 555 123456</p>
      </div>

      <div>
        <i class="fa fa-envelope"></i>
        <p><a href="mailto:blockmirror@support.com">blockmirror@support.com</a></p>
      </div>

    </div>

    <div class="footer-right">

      <p class="footer-company-about">
        <span>About the company</span>
        Lorem ipsum dolor sit amet, consectateur adispicing elit. Fusce euismod convallis velit, eu auctor lacus vehicula sit amet.
      </p>

      <div class="footer-icons">

        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-linkedin"></i></a>
        <a href="#"><i class="fa fa-github"></i></a>

      </div>

    </div>

  </footer>