<div class="container-fluid">
    <div class="row">
      <!-- image div -->
        <div class="col-md-2 col-sm-2 center" style="background-color:white;border:1px solid #ececec; ">
          <!-- <img src="{{btc_image}}" alt=""> -->
          <br>
          <div style="background-color:white;border:1px solid #ececec;">
            <h6 style="text-align:right"> <b style="color:#F79A35">1 BTC=</b> </h6>
            <img src="{{btc_image}}" alt="btc_image" style="width:80%">    
          </div>
          <br> <h3 class="bold-font text-center">BitCoin (BTC)</h3>     
          <span class="btn "><button class="btn bold-font" 
            style="width:180%; background-color:#F79A35; color:white">+Portfolio</button></span>
            
            <!-- small table blocks -->
            <div class="table-responsive">
              <table class="table table-bordered center grey-color">
                <thead>
                  <tr>
                    <th class="text-center">LTC</th>                  
                  </tr>
                </thead>
                <tbody class="text-center">
                  <tr>
                    <td>
                      <button class="btn btn">$ 137.63 B</button> <br>
                      <button class="btn btn">$ 137.63 B</button> <br>
                      <button class="btn btn">$ 137.63 B</button> <br>
                      
                    </td>
                    
                  </tr>
                
                </tbody>
              </table>
              <table class="table table-bordered center grey-color">
                  <thead>
                    <tr>
                      <th class="text-center">BTC</th>                  
                    </tr>
                  </thead>
                  <tbody class="text-center">
                    <tr>
                      <td>
                        <button class="btn btn">$ 137.63 B</button> <br>
                        <button class="btn btn">$ 137.63 B</button> <br>
                        <button class="btn btn">$ 137.63 B</button> <br>
                        
                      </td>
                      
                    </tr>
                  
                  </tbody>
                </table> <table class="table table-bordered center grey-color">
                    <thead>
                      <tr>
                        <th class="text-center">OMG</th>                  
                      </tr>
                    </thead>
                    <tbody class="text-center">
                      <tr>
                        <td>
                          <button class="btn btn">$ 137.63 B</button> <br>
                          <button class="btn btn">$ 137.63 B</button> <br>
                          <button class="btn btn">$ 137.63 B</button> <br>
                          
                        </td>
                        
                      </tr>
                    
                    </tbody>
                  </table>
            </div>
          </div>

        <!-- graph div right side-->
        <div class="col-md-10 col-sm-10 " >
          <div class="row" style=" background-color:red;height:auto">
            <div class="col-md-12 col-sm-12" style="background-color:white">
               <!-- the price chnage -->
            <h1 class="bold-font">&#8377; 41,503.000 <span>             <a href="https://bitcoin.org/en/"><span class="btn bold-font" style="background-color:#F79A35;color:white;width:20%;"> <i class="fa fa-btc fa-2x"></i> Trade Now</span></a></span></h1>               

            <!-- button to the main_link -->
 



              <table class="table table-bordered center grey-color col-md-12 col-sm-8">
                  <thead>
                    <tr>
                      <th class="text-center">Mkt. Cap.</th>
                      <th class="text-center">Vol. 24H</th>
                      <th class="text-center">Open 24h</th>
                      <th class="text-center">Low/High 24h</th>
                      <th class="text-center">Last trade</th>                      
                    </tr>
                  </thead>
                  <tbody class="text-center">
                    <tr>
                      <td><button class="btn btn">$ 137.63 B</button></td>
                      <td><button class="btn btn">Ƀ 226.23 k ($ 1.86 B)</button></td>
                      <td><button class="btn btn">$ 8,757.38</button></td>
                      <td><button class="btn btn">$ 7,685.75 - $ 8,808.49</button></td>                      
                      <td><button class="btn btn">Ƀ 0.01046 ($ 84.82) / Bitfinex</button></td>
                      
                    </tr>
                   
                  </tbody>
                </table>
                
            </div>
          </div>
          <!-- <div #chart id ="btc_chart"></div> -->
          

            <!-- graph map for btc -->
          <div class="row " style="background-color:white">
            <div class="col-md-10 col-sm-10">
            <ul class="nav nav-tabs" role="tablist">
              <li class="nav-item">
                <a class="nav-link active bold-font" data-toggle="tab" href="#home">Graph</a>
              </li>
            
            </ul>
          
            <!-- Tab panes -->
            <div class="tab-content" style="width:-10%">
              <div id="home" class="container tab-pane active table-responsive"><br>
                 <div #chart id ="btc_chart"></div>   
              </div>
              <div id="menu1" class="container tab-pane fade"><br>
                <h3>Menu 1</h3>
                <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
              </div>
              <div id="menu2" class="container tab-pane fade"><br>
                <h3>Menu 2</h3>
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
              </div>
            </div>
              
            <!-- details, features, techololgy,  -->

              <div class="container "  style="width:-10%">
                <ul class="nav nav-tabs " role="tablist">
                  <li class="nav-item ">
                    <a class="nav-link active" data-toggle="tab" href="#deatils" class="orange-color">DETAILS</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#features" class="orange-color">FEATURES</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#technology" class="orange-color">TECHONOLOGY</a>
                  </li>
                </ul>
              
                <!-- Tab panes -->
                <div class="tab-content" style="width:500px;">
                  <div id="deatils" class="container tab-pane active"><br>
                    <div class="container">
                      Bitcoin uses peer-to-peer technology to operate with no central authority or banks; managing transactions and the issuing of bitcoins is carried out collectively by the network. Although other cryptocurrencies have come before, Bitcoin is the first decentralized cryptocurrency - Its reputation has spawned copies and evolution in the space.

With the largest variety of markets and the biggest value - having reached a peak of 18 billion USD - Bitcoin is here to stay. As with any new invention, there can be improvements or flaws in the initial model however the community and a team of dedicated developers are pushing to overcome any obstacle they come across. It is also the most traded cryptocurrency and one of the main entry points for all the other cryptocurrencies. The price is as unstable as always and it can go up or down by 10%-20% in a single day.

Bitcoin is an SHA-256 POW coin with 21,000,000 total minable coins. The block time is 10 minutes. See below for a full range of Bitcoin markets where you can trade US Dollars for Bitcoin, crypto to Bitcoin and many other fiat currencies too.
                    </div>
                      
                  </div>
                  <div id="features" class="container tab-pane fade"><br>
                      <div class="container">
                       there is no credit card number that some malicious actor can collect in order to impersonate you. In fact, it is even possible to send a payment without revealing your identity, almost just like with physical money. You should however take note that some effort can be required to protect your privacy.
                      </div>
                  </div>
                  <div id="technology" class="container tab-pane fade"><br>
                   
                    Processing - mining Mining is a distributed consensus system that is used to confirm waiting transactions by including them in the block chain. It enforces a chronological order in the block chain, protects the neutrality of the network, and allows different computers to agree on the state of the system. To be confirmed, transactions must be packed in a block that fits very strict cryptographic rules that will be verified by the network. These rules prevent previous blocks from being modified because doing so would invalidate all following blocks. Mining also creates the equivalent of a competitive lottery that prevents any individual from easily adding new blocks consecutively in the block chain. This way, no individuals can control what is included in the block chain or replace parts of the block chain to roll back their own spends.
                  </div>
                </div>
              </div>

            <!-- end of details, features, techo -->

              <!-- users posts -->
              <div class="container"> 
                <h2 class="orange-color" style="border-top-color:white">BitCoin Posts</h2>
                <form>
                  <div class="form-group">
                    <label for="comment">Comment:</label>
                    <textarea class="form-control" rows="5" id="comment" style="width:80%"></textarea>
                  </div>
                  <button class="btn btn-success pull-center" style="width:10%">Post</button>
                </form>
              </div>
              </div>
              
          </div>
          
        </div>    
        

<footer class="footer-distributed">

    <div class="footer-left">

      <h3>BLOCK<span>MIRROR</span></h3>

      <p class="footer-links">
        <a href="#">Home</a>
        ·
        <a href="#">Blog</a>
        ·
        <a href="#">Pricing</a>
        ·
        <a href="#">About</a>
        ·
        <a href="#">Faq</a>
        ·
        <a href="#">Contact</a>
      </p>

      <p class="footer-company-name">Block Mirror &copy; 2018</p>
    </div>

    <div class="footer-center">

      <div>
        <i class="fa fa-map-marker"></i>
        <p><span>21 Revolution Street</span> Bangalore, India</p>
      </div>

      <div>
        <i class="fa fa-phone"></i>
        <p>+1 555 123456</p>
      </div>

      <div>
        <i class="fa fa-envelope"></i>
        <p><a href="mailto:blockmirror@support.com">blockmirror@support.com</a></p>
      </div>

    </div>

    <div class="footer-right">

      <p class="footer-company-about">
        <span>About the company</span>
        Lorem ipsum dolor sit amet, consectateur adispicing elit. Fusce euismod convallis velit, eu auctor lacus vehicula sit amet.
      </p>

      <div class="footer-icons">

        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-linkedin"></i></a>
        <a href="#"><i class="fa fa-github"></i></a>

      </div>

    </div>

  </footer>

    </div>

    
  </div><!--  last div -->
