<div class="container">
    <div class="row">
        <!--1st block -->
        <div class="col-md-3  currency-blocks">
            <div class="col-md-5">
                    <p class="align-left currency-names">BTC - INR</p> 
            </div>
            <div class="col-md-7">
                    <p class="align-left">Vol: Ƀ {{BTC_Coinome[10]}}</p> 
            </div>
            <hr>
            <div class="col-md-12">
                Maximum Sell: &#8377; <span class="font-price"> {{BTC_Coinome[3]}}</span>
                
                  Minimun Buy: &#8377;   <span class="font-price"> {{BTC_Coinome[5]}}</span>
            </div>
            <br>
            <div>
             {{BTC_Coinome[1]}}  
            </div>
            <footer>
                <div class="footer-left">
                        {{BTC_Coinome[1]}}                   
                </div>
                <div class="footer-right">
                        {{BTC_Coinome[4]}}
                </div>
            </footer>
        </div>
        <div class="col-md-3 col-md-offset-1 currency-blocks">
                <div class="col-md-5">
                        <p class="align-left currency-names">LTC - INR</p> 
                </div>
                <div class="col-md-7">
                        <p class="align-left">Vol: Ƀ {{LTC_buyucoin[10]}}</p> 
                </div>
                <hr>
                <div class="col-md-12">
                    Maximum Sell: &#8377; <span class="font-price"> {{LTC_buyucoin[3]}}</span>
                    <br>
                    Minimun Buy: &#8377;   <span class="font-price"> {{LTC_buyucoin[5]}}</span>
                </div>
                <br>
                <div>
                    volume
                </div>
                <footer>
                    <div class="footer-left">
                            {{LTC_buyucoin[1]}}                    
                    </div>
                    <div class="footer-right">
                            {{LTC_buyucoin[4]}}
                    </div>
                </footer>
            </div>
            <div class="col-md-3 col-md-offset-1 currency-blocks">
                    <div class="col-md-5">
                            <p class="align-left currency-names" >ETH - INR</p> 
                    </div>
                    <div class="col-md-7">
                            <p class="align-left">Vol: Ƀ {{ETH_Koinex[10]}}</p> 
                    </div>
                    <hr>
                    <div class="col-md-12">
                        Maximum Sell: &#8377; <span class="font-price"> {{ETH_Koinex[3]}}</span>
                        <br>
                        Minimun Buy: &#8377;   <span class="font-price"> {{ETH_Koinex[5]}}</span>
                    </div>
                    <br>
                    <div>
                        volume
                    </div>
                    <footer>
                        <div class="footer-left">
                                {{ETH_Koinex[1]}}                    
                        </div>
                        <div class="footer-right">
                                {{ETH_Koinex[4]}}
                        </div>
                    </footer>
                </div>
    </div>
    <br>
    <div class="row">
            <!--1st block -->
            <div class="col-md-3  currency-blocks">
                <div class="col-md-5">
                        <p class="align-left currency-names">BCH - INR</p> 
                </div>
                <div class="col-md-7">
                        <p class="align-left">Vol: Ƀ {{BCH_Coinome[10]}}</p> 
                </div>
                <hr>
                <div class="col-md-12">
                    Maximum Sell: &#8377; <span class="font-price"> {{BCH_Coinome[3]}}</span>
                    <br>
                    Minimun Buy: &#8377;   <span class="font-price"> {{BCH_Coinome[5]}}</span>
                </div>
                <br>
                <div>
                    volume
                </div>
                <footer>
                    <div class="footer-left">
                            {{BCH_Coinome[1]}}                    
                    </div>
                    <div class="footer-right">
                            {{BCH_Coinome[4]}}
                    </div>
                </footer>
            </div>
            <div class="col-md-3 col-md-offset-1 currency-blocks">
                    <div class="col-md-5">
                            <p class="align-left currency-names">XRP - INR</p> 
                    </div>
                    <div class="col-md-7">
                            <p class="align-left">Vol: Ƀ {{XRP_Koinex[10]}}</p> 
                    </div>
                    <hr>
                    <div class="col-md-12">
                        Maximum Sell: &#8377; <span class="font-price"> {{XRP_Koinex[3]}}</span>
                        <br>
                        Minimun Buy: &#8377;   <span class="font-price"> {{XRP_Koinex[5]}}</span>
                    </div>
                    <br>
                    <div>
                        volume
                    </div>
                    <footer>
                        <div class="footer-left">
                                {{XRP_Koinex[1]}}                    
                        </div>
                        <div class="footer-right">
                                {{XRP_Koinex[4]}}
                        </div>
                    </footer>
                </div>
                <div class="col-md-3 col-md-offset-1 currency-blocks">
                        <div class="col-md-5">
                                <p class="align-left currency-names">OMG - INR</p> 
                        </div>
                        <div class="col-md-7">
                                <p class="align-left">Vol: Ƀ {{OMG_Koinex[10]}}</p> 
                        </div>
                        <hr>
                        <div class="col-md-12">
                            Maximum Sell: &#8377; <span class="font-price"> {{OMG_Koinex[3]}}</span>
                            <br>
                            Minimun Buy: &#8377;   <span class="font-price"> {{OMG_Koinex[5]}}</span>
                        </div>
                        <br>
                        <div>
                            volume
                        </div>
                        <footer>
                            <div class="footer-left">
                                    {{OMG_Koinex[1]}}                    
                            </div>
                            <div class="footer-right">
                                    {{OMG_Koinex[4]}}
                            </div>
                        </footer>
                    </div>
                
        </div>
    
</div><!-- last div -->


